{
    "plugins": [
        "babel-plugin-transform-es2015-destructuring",
        "babel-plugin-transform-es2015-modules-commonjs",
    ],
    "env": {
        "browser-development": {
            "presets": [
                ["es2015"],
                "react",
                "react-hmre",
                "stage-1",
            ],
            "plugins": [
                ["transform-runtime", {
                    "polyfill": false,
                    "regenerator": true,
                }],
            ],
        },
        "browser-production": {
            "presets": [
                ["es2015", { "loose": true, "modules": false }],
                "react",
                "stage-1",
            ],
            "plugins": [
                ["transform-runtime", {
                    "polyfill": false,
                    "regenerator": true,
                }],
            ],
        },
        "browser-staging": {
            "presets": [
                ["es2015", { "loose": true, "modules": false }],
                "react",
                "stage-1",
            ],
            "plugins": [
                ["transform-runtime", {
                    "polyfill": false,
                    "regenerator": true,
                }],
            ],
        },
        "browser-test": {
            "presets": [
                ["es2015"],
                "react",
                "stage-1",
            ],
            "plugins": [
                ["transform-runtime", {
                    "polyfill": false,
                    "regenerator": true,
                }],
            ],
        }
    }
}
