{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "mocha": true,
        "node": true,
    },
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
    },
}
